/*
	Theme Name: ASEFI
	Theme URI: http://asefi.com;
	Description: Tema wordpress asefi
	Version: 1.4.3
	Author: Daniel Torres
	Author URI: http://asefi.com
	Tags: asefi

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

html, body{
	height: 100%;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,
ul.nav li a,
a.btn, button{
	font-family: 'Josefin Sans', sans-serif;
}

ul, li, a, p, input, textarea {
	font-family: 'Roboto', sans-serif;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left:  50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}


.video-background{
	height: 100%;
	width: 100%;
	//background: #9c9898;
	background: rgba(200, 200, 200, 0.5);
}

#mapa-1.map,
#mapa-2.map{
	width: 100%;
	height: 300px;
}

#sucursal-1,
#sucursal-2 {
	height: 300px;
	width: 100%;
}

/*----------- F O O T E R -------------------*/

.container-fluid{
	position: relative;

}

.container-footer {
	padding-bottom: 5px;
	position: absolute;
	bottom: 0px;
	right: 0;
	text-align: right;
}

.container-footer img{
	width: 35px;
	height: auto;
}

/*-------------FIN FOOTER--*/

/************* H E A D E R ******/

header { 
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
}

.contenedor-front{
  height: 100%;
}

.margen-texto-front{
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
}

.margen-texto-front p{
  display: table-cell;
  vertical-align: middle;
}
#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
}

#navbar-primary-collapse .mobile-menu{
	background: #034c8c;
}

#navbar-primary-collapse .mobile-menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

img.logo-responsive{
	margin-bottom: 20px;
	padding: 15px 15px;
}

.navbar-toggle {
    margin-top: 15px;
}

#navbar-primary-collapse .mobile-menu ul li {
	list-style-type: none;
}

#navbar-primary-collapse .mobile-menu ul li {
	display: block;
	border-bottom: 1px solid #333;
	padding: 8px 20px 8px 10px;
}

#navbar-primary-collapse .mobile-menu ul li a{
	font-size: 14px;
	color: white !important;
}

.servicios #navbar-primary .navbar-nav span.list,
.consultoria #navbar-primary .navbar-nav span.list,
.contaduria #navbar-primary .navbar-nav span.list{
	background: none;
}

#navbar-primary .navbar-nav span.list {
	float: none;
	text-align: center;
	background: #034c8c;
	padding: 5px 0;
	width: calc(49% - 92px);
	display: inline-block;
	position: relative;
  margin-top: 25px;
  vertical-align: top;
}

#navbar-primary .navbar-nav span.list > li {
	text-align: center;
	width: 47%;
	display: inline-block;
}

#navbar-primary .navbar-nav span.list.list-left {
	
}

.servicios .triangle-right,
.contaduria .triangle-right,
.consultoria .triangle-right {
	background: none;
	border: none;
}

.servicios .triangle-left,
.contaduria .triangle-left,
.consultoria .triangle-left {
	background: none;
	border: none;
	
}

.triangle-right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 15px 0 0;
	border-color: #034c8c transparent transparent transparent;
	position: absolute;
	right: -15px;
	top: 0;

}

.triangle-left {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 30px 15px;
	border-color: transparent transparent #034c8c transparent;
	position: absolute;
	left: -15px;
	top: 0;
}

#navbar-primary .navbar-nav span.list.list-right {

}

#navbar-primary .navbar-nav li.logo{
  display: inline-block;
  float: none;
  margin: 0 20px;
}

.navbar-nav > li.logo>a{
  padding: 8px;
}

.navbar-nav li.logo.logo-2>a{
  margin-top: 8px;
  padding: 8px 12px;
}

#navbar-primary .navbar-nav li > a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

#navbar-primary .navbar-nav li > img:hover{
  background: none;
}

.nav>li.logo>a:focus, .nav>li.logo>a:hover{
	background: none;
}
/*-----S e r v i c i o s --------------*/
.color-fondo1{
  background-color: #034c8b;
  height: 100%;
}
.color-fondo2{
  background-color: #00A46B;
  height: 100%;
}

.margen-texto{
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
}

.margen-texto a{
  display: table-cell;
  vertical-align: middle;
}

.servicios h1{
   color: #FFFFFF;
   text-align: center;
}

.servicios .container-fluid{
   height: 100%;
}

.color-fondo1.contenedor > div.col-md-4,
.color-fondo2.contenedor > div.col-md-4{
   height: 100%;
}

.servicios a:link{
      text-decoration: none;
}
.servicios .contenedor{
      height: 100%;
      padding-right:0px;
      padding-left:0px;
}
/***  C o n t a d u r i a  **/

.margin-main {
	padding-top: 80px;
}


/******************************/

figure.effect-sarah {
	background: #39707e;
}
.contaduria .contenedor{
	height: 100%;
	width: 100%;
}
.contaduria .caja-servicio.caja-1 figure.effect-sarah{
	background: #39707e;
}
.contaduria .caja-servicio.caja-2 figure.effect-sarah{
	background: #036a8b;
}
.contaduria .caja-servicio.caja-3 figure.effect-sarah{
	background: #01769b;
}
.contaduria .caja-servicio.caja-4 figure.effect-sarah{
	background: #0066ad;
}
.contaduria .caja-servicio.caja-5 figure.effect-sarah{
	background: #195e9b;
}
.contaduria .caja-servicio.caja-6 figure.effect-sarah{
	background: #45607b;
}

.consultoria .contenedor{
	height: 100%;
	width: 100%;
}
.consultoria .caja-servicio.caja-1 figure.effect-sarah{
	background: #2ccb78;
}
.consultoria .caja-servicio.caja-2 figure.effect-sarah{
	background: #70a83b;
}
.consultoria .caja-servicio.caja-3 figure.effect-sarah{
	background: #a3bd31;
}
.consultoria .caja-servicio.caja-4 figure.effect-sarah{
	background: #2e6740;
}
.consultoria .caja-servicio.caja-5 figure.effect-sarah{
	background: #3f765a;
}
.consultoria .caja-servicio.caja-6 figure.effect-sarah{
	background: #009045;
}
.contaduria{
	background:#034c8b;
}
.consultoria {
	background:#00a46b;
}

.navbar-toggle {
    background-color: #999999;
    background-image: none;
    border: 1px solid #333333
}

.icon-bar {
	background: white;
}

/***** H i s t o r i a ****/

.historia{
	background: #333333;
	padding-top: 45px;
}

.historia-container {
	margin-bottom: 60px;
	//shape-outside: polygon(nonzero, 0px 0px, -123px 359px, 194px 360px, 361px 1px);
	//clip-path: polygon(nonzero, 0px 0px, -123px 359px, 194px 360px, 361px 1px);
}

.historia-descripcion {
	color: white;
	padding-right: 30px;
}

.title-ribbon {
	color: white;
	padding: 1px 10px;
	margin: 0px 0 15px 0;
	-webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

.title-ribbon h4{
	padding-left: 30px;
	margin: 5px 0;
}

.historia-imagen > img{
	-webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
	clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
	margin-bottom: 60px;
}

.historia-bottom {
	margin-bottom: 45px;
}

/* N o s o t r o s */
 
#myTabs {
	margin-top: 30px;
}

#myTabs.nav > li:not(.active){
	background: #fafafa;
}

.tab-content {
	margin-bottom: 60px;
}

.contacto {
	background: #333333;
	padding-top: 90px;
	color: white;
}

.contacto .container{
	min-height: 100%;
}

.contacto .btn-success {
    color: #fff;
    background-color: #00a46b;
    border-color: #00a46b;
    width: 100%;
}

.contacto .btn-success:hover,
.contacto .btn-success:active{
    background-color: #00754c;
    border-color: #00754c;
}

/**** s e r v i c i o s*/

.caja-servicio div{
	//display: table-cell;
	//vertical-align: middle;
}

.caja-servicio figure {
	position: relative;
	float: left;
	overflow: hidden;
	height: 250px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	width: 100%;
}

.caja-servicio figure img{
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.caja-servicio:first-child {
	margin-top: 15px;
}

.caja-servicio {
	width: 100%;
	text-align: center;
	height: 250px;
	background: #333;
	color: white;
	display: table;
	margin-bottom: 30px;
	text-transform: uppercase;
}

figure figcaption {
	padding: 15px;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h3 span {
	font-weight: 800;
}

figure h3,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/****/


/*figure.effect-sarah {
	background: #39707e;
}*/

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.infoWindow-text{
	color: black;
}

/**** P o r t a f o l i o ****/
.portafolio, .single-portafolio {
	background: #333333;
	color: white;
	min-height: 100%;
}

.portafolio .container {
	min-height: 100%;
	padding-bottom: 60px;
}

.client-container:first-child{
	margin-top: 30px;
}

.client-container{
	width: 100%;
	height: 300px;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

.client-container img{
	text-align: center;
}

.client-container .client-description{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	opacity: 0;
		-webkit-transition: .30s ease-in-out;
  	-moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
  transition: .30s ease-in-out;
  display: table;
}

.client-container .client-description .client-description-content{
	display: table-cell;
	vertical-align: middle;
}

.client-container{
	-webkit-transition: .30s ease-in-out;
  	-moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
  transition: .30s ease-in-out;
}

}

.client-container img{
		-webkit-transition: .30s ease-in-out;
  	-moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
  transition: .30s ease-in-out;
}

.client-container:hover img{
	opacity: 0;
}

.client-container:hover .client-description{
	opacity: 1;
}

.client-container .client-description h3{
	color: white;
}

.client-container .client-description a:hover{
	color: white;
	text-decoration: none;
}

.client-container .client-description p{
	color: white;
	text-decoration: none;
}

/*** s i n g l e   p o r t a f o l i o ***/

.single-portafolio .container{
	min-height: 100%;
}

.single-portafolio .container .client-description {
	margin-bottom: 60px;
}

/* F r o n t p a g e*/
.btn-blog{
	margin-top: 45px;
	color: #fff;
  background-color: #00a46b;
  border-color: #00a46b;
}

.btn-blog:hover,
.btn-blog:active{
    background-color: #00754c;
    border-color: #00754c;
}

/** b l o g **/

.blog {
	background: #333;
}

.blog .container {
	min-height: 100%;
	padding-bottom: 60px;
}

.single-post {
	color: white;
	background: #333;
}

.single-post .container {
	min-height: 100%;
	padding-bottom: 60px;
}

.single-post .post-image{
	height: 300px; 
	position: relative;
}

.single-post .post-image .post-title > h1{
	position: absolute;
	bottom: 20px;
	left: 50px;
	font-weight: bold;
}

.single-post .post-image .post-title{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+54,000000+100&1+100,0.94+100 */
 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+47,000000+100&0+46,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 46%, rgba(0,0,0,0.01) 47%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 46%,rgba(0,0,0,0.01) 47%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 46%,rgba(0,0,0,0.01) 47%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */ 
}

